* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	flex-flow: column wrap;
	//border: 1px dotted black;
}

h1 {
	margin: 2em 1em;
}

p {
	background-color: black;
	color: white;
	padding: 1em;
	margin-bottom: 1em;
}

input {
	padding: 1em;
	border: 1px dotted black;
	margin-bottom: 1em;
}

button {
	padding: 1em 0;
	border: 1px dotted black;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0 0.25em 0;
	border-bottom: 1px dotted black;
}

#deleteButton {
	padding: 1em;
}